@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

$bcgcolor:  #181511;
$btncolor: #FFAE2B;
$titlecolor: #ACA592;
$bordercolor: #4B4136;
$oldfamily:  'Old Standard TT', serif;
