@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Old Standard TT", serif; }

body {
  background-color: #181511; }

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto; }

header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #181511; }
  header .navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%; }
    header .navbar a {
      color: #FFAE2B;
      font-size: 1.5rem; }
    header .navbar .nav {
      display: flex;
      gap: 5%;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      header .navbar .nav .nav_menu ul {
        display: flex;
        align-items: center;
        gap: 15%; }
        header .navbar .nav .nav_menu ul a {
          text-transform: uppercase;
          color: #ACA592;
          font-size: 0.8rem; }
          header .navbar .nav .nav_menu ul a:hover {
            color: #FFAE2B;
            cursor: pointer; }
        header .navbar .nav .nav_menu ul .active a {
          color: #FFAE2B; }
      header .navbar .nav .nav_btn a {
        padding: 11px 20px;
        color: #FFAE2B;
        text-transform: uppercase;
        border: 1px solid #FFAE2B;
        font-weight: 400;
        font-size: 0.8rem; }
        header .navbar .nav .nav_btn a:hover {
          background-color: #FFAE2B;
          color: #181511; }

.showcase {
  background-image: url("../media/IMAGE1.svg");
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center; }
  .showcase .showcase-title {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin: 0 auto; }
    .showcase .showcase-title p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      color: #FFAE2B;
      text-transform: uppercase; }
    .showcase .showcase-title h1 {
      font-weight: 400;
      font-size: 4rem;
      line-height: 100px;
      color: #fff; }
    .showcase .showcase-title .nav_btn a {
      padding: 11px 20px;
      color: #181511;
      background-color: #FFAE2B;
      text-transform: uppercase;
      border: 1px solid #FFAE2B;
      font-weight: 400;
      font-size: 0.8rem; }

.middle {
  padding: 4rem 0; }
  .middle .middle-title {
    padding: 1.5rem 0;
    text-align: center; }
    .middle .middle-title p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 22px;
      color: #ACA592;
      text-transform: uppercase; }
    .middle .middle-title h1 {
      font-weight: 400;
      font-size: 3rem;
      line-height: 100px;
      color: #FFAE2B; }
  .middle .midlle-cards {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem; }
    .middle .midlle-cards .middle-child {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem; }
      .middle .midlle-cards .middle-child .pages-card {
        border: 1px solid #4B4136;
        padding: 0.8rem; }
        .middle .midlle-cards .middle-child .pages-card:hover {
          cursor: pointer; }
        .middle .midlle-cards .middle-child .pages-card img {
          width: 100%; }
        .middle .midlle-cards .middle-child .pages-card p {
          font-weight: 400;
          font-size: 1rem;
          line-height: 22px;
          color: #ACA592;
          text-transform: uppercase;
          text-align: center; }
        .middle .midlle-cards .middle-child .pages-card:hover {
          cursor: pointer; }
    .middle .midlle-cards .middle-child2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      display: grid;
      gap: 1rem; }
      .middle .midlle-cards .middle-child2 .pages-card {
        border: 1px solid #4B4136;
        padding: 0.8rem; }
        .middle .midlle-cards .middle-child2 .pages-card img {
          width: 100%; }
        .middle .midlle-cards .middle-child2 .pages-card p {
          font-weight: 400;
          font-size: 1rem;
          line-height: 22px;
          color: #ACA592;
          text-transform: uppercase;
          text-align: center; }
        .middle .midlle-cards .middle-child2 .pages-card:hover {
          cursor: pointer; }
  .middle .middle-cards-1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem; }
    .middle .middle-cards-1 .pages-card {
      border: 1px solid #4B4136;
      padding: 0.8rem; }
      .middle .middle-cards-1 .pages-card img {
        width: 100%; }
      .middle .middle-cards-1 .pages-card p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        color: #ACA592;
        text-transform: uppercase;
        text-align: center; }
      .middle .middle-cards-1 .pages-card:hover {
        cursor: pointer; }

.pyton {
  background-image: url("../media/IMAGE (23).svg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 5rem; }

.big {
  border-bottom: 1px solid #4B4136; }

.services {
  padding: 5rem 0;
  text-align: center;
  margin-bottom: 5rem; }
  .services p {
    padding: 0.7rem 0;
    color: #ACA592;
    font-size: 1.2rem; }
  .services h1 {
    color: #FFAE2B;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 400; }
    @media (max-width: 1100px) {
      .services h1 {
        font-size: 2.8rem; } }
    @media (max-width: 1000px) {
      .services h1 {
        font-size: 2.6rem; } }
    @media (max-width: 800px) {
      .services h1 {
        font-size: 2.4rem; } }
    @media (max-width: 800px) {
      .services h1 {
        font-size: 2rem; } }
  .services .servicecards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left; }
    .services .servicecards .servicecard {
      padding: 3rem 2rem;
      border: 1px solid #4B4136; }
      .services .servicecards .servicecard img {
        width: 13%;
        padding-bottom: 1rem; }
      .services .servicecards .servicecard h2 {
        color: #FFAE2B;
        font-size: 1.5rem;
        padding-bottom: 1rem; }
      .services .servicecards .servicecard h5 {
        color: #ACA592;
        font-size: 1.2rem; }
      .services .servicecards .servicecard p {
        font-size: 0.9rem;
        line-height: 2rem; }
    .services .servicecards .ikki {
      transform: translate(0, 0.2rem); }
    .services .servicecards .uch {
      transform: translate(0, 0.9rem); }

.follow {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #4B4136; }
  .follow .followcard {
    position: relative;
    width: 100%;
    height: 12rem; }
    .follow .followcard img:hover {
      cursor: pointer; }
  .follow .f1 {
    background-image: url("../media/followme1.svg");
    background-size: cover;
    background-position: center center; }
    .follow .f1 img {
      position: absolute;
      width: 20%;
      top: -15%;
      right: 38%; }
    @media (max-width: 1100px) {
      .follow .f1 img {
        width: 19%; } }
  .follow .f2 {
    background-image: url("../media/followme2.svg");
    background-size: cover;
    background-position: center center; }
    .follow .f2 img {
      position: absolute;
      width: 20%;
      top: -15%;
      right: 38%; }
    @media (max-width: 1100px) {
      .follow .f2 img {
        width: 19%; } }
  .follow .f3 {
    background-image: url("../media/followme3.svg");
    background-size: cover;
    background-position: center center;
    padding: 0 3rem; }
    .follow .f3 img {
      position: absolute;
      width: 20%;
      top: -15%;
      right: 38%; }
    @media (max-width: 1100px) {
      .follow .f3 img {
        width: 19%; } }
  .follow .f4 {
    background-image: url("../media/followme4.svg");
    background-size: cover;
    background-position: center center; }
    .follow .f4 img {
      position: absolute;
      width: 20%;
      top: -15%;
      right: 38%; }
    @media (max-width: 1100px) {
      .follow .f4 img {
        width: 19%; } }
  .follow .f5 {
    background-image: url("../media/followme5.svg");
    background-size: cover;
    background-position: center center; }
    .follow .f5 img {
      position: absolute;
      width: 20%;
      top: -15%;
      right: 38%; }
    @media (max-width: 1100px) {
      .follow .f5 img {
        width: 19%; } }

.subtitle {
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .subtitle h1 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 80px;
    color: #FFAE2B; }
  .subtitle p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 22px;
    color: #ACA592;
    padding-bottom: 4rem; }
  .subtitle .qora {
    width: 50%;
    padding: 1.5rem;
    border: 1px solid #4B4136; }
  .subtitle .sariq {
    width: 50%;
    padding: 1.5rem;
    background-color: #FFAE2B;
    margin-bottom: 3rem; }
  .subtitle .icon {
    display: flex;
    gap: 1rem; }
    .subtitle .icon a i {
      color: white;
      padding: 0.8rem 1rem;
      border: 1px solid #4B4136;
      font-size: 1.2rem; }
      .subtitle .icon a i:hover {
        cursor: pointer;
        color: #181511;
        background-color: white; }
  .subtitle .forsubscribe {
    font-size: 0.9rem;
    width: 35%; }
    .subtitle .forsubscribe span {
      color: #FFAE2B;
      position: absolute;
      transform: translate(0, -2px); }
      .subtitle .forsubscribe span:hover {
        cursor: pointer; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #4B4136; }
  .footer .footer-left p {
    color: #ACA592;
    font-size: 0.9rem; }
    .footer .footer-left p span {
      color: #FFAE2B; }
  .footer .footer-right {
    display: flex;
    gap: 1rem; }
    .footer .footer-right p {
      color: #FFAE2B;
      font-size: 0.9rem; }

#check {
  display: none; }

label {
  display: none; }
  @media (max-width: 650px) {
    label {
      display: block;
      color: #FFAE2B;
      font-size: 1.3rem; } }
  @media (max-width: 500px) {
    label {
      display: block;
      color: #FFAE2B;
      font-size: 1.1rem; } }

@media (max-width: 1100px) {
  .showcase .showcase-title {
    width: 80%;
    text-align: center;
    row-gap: 2.7rem; }
    .showcase .showcase-title p {
      font-weight: 400;
      font-size: 0.9rem; }
    .showcase .showcase-title h1 {
      font-weight: 400;
      font-size: 3.8rem;
      line-height: 90px; }
    .showcase .showcase-title .nav_btn a {
      padding: 10px 18px;
      font-weight: 400;
      font-size: 0.7rem; }

  .services {
    padding: 4rem 0; }
    .services .servicecards .servicecard {
      padding: 2.8rem 1.8rem; }
      .services .servicecards .servicecard img {
        width: 15%;
        padding-bottom: 0.9rem; }
      .services .servicecards .servicecard h2 {
        font-size: 1.4rem;
        padding-bottom: 0.9rem; }
      .services .servicecards .servicecard h5 {
        font-size: 1.1rem; }
      .services .servicecards .servicecard p {
        font-size: 0.8rem;
        line-height: 1.9rem; } }
@media (max-width: 1000px) {
  header .navbar {
    gap: 3%; }
    header .navbar a {
      font-size: 1.3rem; }
    header .navbar .nav {
      gap: 4%; }
      header .navbar .nav .nav_menu ul {
        gap: 7%; }
        header .navbar .nav .nav_menu ul a {
          font-size: 0.6rem; }
      header .navbar .nav .nav_btn a {
        padding: 11px 18px;
        font-weight: 400;
        font-size: 0.6rem; }

  .showcase .showcase-title {
    width: 80%;
    row-gap: 2rem; }
    .showcase .showcase-title p {
      font-weight: 400;
      font-size: 0.9rem; }
    .showcase .showcase-title h1 {
      font-weight: 400;
      font-size: 3.8rem;
      line-height: 90px; }
    .showcase .showcase-title .nav_btn a {
      padding: 10px 18px;
      font-size: 0.7rem; }

  .middle {
    padding: 3rem 0; }
    .middle .middle-title {
      text-align: center; }
      .middle .middle-title p {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 22px; }
      .middle .middle-title h1 {
        font-weight: 400;
        font-size: 2.6rem;
        line-height: 100px; }
    .middle .midlle-cards {
      width: 100%;
      row-gap: 1rem; }
      .middle .midlle-cards .middle-child {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child .pages-card {
          padding: 0.8rem; }
          .middle .midlle-cards .middle-child .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child .pages-card p {
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 22px; }
      .middle .midlle-cards .middle-child2 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child2 .pages-card {
          padding: 0.8rem; }
          .middle .midlle-cards .middle-child2 .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child2 .pages-card p {
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 22px; }
    .middle .middle-cards-1 {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 1rem; }
      .middle .middle-cards-1 .pages-card {
        padding: 0.8rem; }
        .middle .middle-cards-1 .pages-card img {
          width: 100%; }
        .middle .middle-cards-1 .pages-card p {
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 22px; }

  .pyton {
    width: 100%;
    height: 50vh;
    margin-bottom: 5rem; }

  .subtitle {
    padding: 3rem; }
    .subtitle h1 {
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 70px; }
    .subtitle p {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 22px;
      padding-bottom: 4rem; }
    .subtitle .qora {
      width: 50%;
      padding: 1.5rem; }
    .subtitle .sariq {
      width: 50%;
      padding: 1.5rem;
      margin-bottom: 3rem; }
    .subtitle .icon {
      gap: 0.9rem; }
      .subtitle .icon a i {
        padding: 0.6rem 0.8rem; }
    .subtitle .forsubscribe {
      font-size: 0.9rem;
      width: 55%; }
      .subtitle .forsubscribe span {
        transform: translate(0, -2px); }

  .services {
    padding: 3rem 0; }
    .services p {
      padding: 0.7rem 0;
      color: #ACA592;
      font-size: 1rem; }
    .services h1 {
      color: #FFAE2B;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight: 400; } }
    @media (max-width: 1000px) and (max-width: 1100px) {
      .services h1 {
        font-size: 2.8rem; } }
    @media (max-width: 1000px) and (max-width: 1000px) {
      .services h1 {
        font-size: 2.6rem; } }
    @media (max-width: 1000px) and (max-width: 800px) {
      .services h1 {
        font-size: 2.4rem; } }
    @media (max-width: 1000px) and (max-width: 800px) {
      .services h1 {
        font-size: 2rem; } }
@media (max-width: 1000px) {
    .services .servicecards .servicecard {
      padding: 2.8rem 1.8rem; }
      .services .servicecards .servicecard img {
        padding-bottom: 0.9rem; }
      .services .servicecards .servicecard h2 {
        font-size: 1.2rem;
        padding-bottom: 0.8rem; }
      .services .servicecards .servicecard h5 {
        font-size: 0.8rem; }
      .services .servicecards .servicecard p {
        font-size: 0.7rem;
        line-height: 1.6rem; }

  .follow {
    grid-template-columns: repeat(4, 1fr); }
    .follow .f3 {
      display: none; } }
@media (max-width: 800px) {
  header .navbar {
    gap: 2%; }
    header .navbar a {
      font-size: 1.1rem; }
    header .navbar .nav {
      gap: 4%; }
      header .navbar .nav .nav_menu ul {
        gap: 7%; }
        header .navbar .nav .nav_menu ul a {
          font-size: 0.6rem; }
      header .navbar .nav .nav_btn a {
        padding: 8px 15px;
        font-weight: 400;
        font-size: 0.6rem; }

  .showcase .showcase-title {
    width: 80%;
    row-gap: 2.3rem; }
    .showcase .showcase-title p {
      font-size: 0.8rem; }
    .showcase .showcase-title h1 {
      font-size: 3.2rem;
      line-height: 4rem; }
    .showcase .showcase-title .nav_btn a {
      padding: 8px 15px;
      font-size: 0.6rem; }

  .middle {
    padding: 5rem 0; }
    .middle .middle-title {
      padding: 2rem 0; }
      .middle .middle-title p {
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 22px; }
      .middle .middle-title h1 {
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 100px; }
    .middle .midlle-cards {
      width: 100%;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; }
      .middle .midlle-cards .middle-child {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child .pages-card {
          padding: 0.8rem; }
          .middle .midlle-cards .middle-child .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child .pages-card p {
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 22px; }
      .middle .midlle-cards .middle-child2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child2 .pages-card {
          padding: 0.5rem; }
          .middle .midlle-cards .middle-child2 .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child2 .pages-card p {
            font-weight: 400;
            font-size: 0.8rem;
            line-height: 22px; }
    .middle .middle-cards-1 {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 1rem; }
      .middle .middle-cards-1 .pages-card {
        padding: 0.8rem; }
        .middle .middle-cards-1 .pages-card img {
          width: 100%; }
        .middle .middle-cards-1 .pages-card p {
          font-weight: 400;
          font-size: 0.8rem;
          line-height: 22px; }
      .middle .middle-cards-1 .align-center {
        display: none; }

  .pyton {
    width: 100%;
    height: 40vh;
    margin-bottom: 5rem; }

  .subtitle {
    padding: 2.5rem; }
    .subtitle h1 {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 50px; }
    .subtitle p {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 22px;
      padding-bottom: 3.5rem; }
    .subtitle .qora {
      width: 50%;
      padding: 1.2rem; }
    .subtitle .sariq {
      width: 50%;
      padding: 1.2rem;
      margin-bottom: 2rem; }
    .subtitle .icon {
      gap: 0.8rem; }
      .subtitle .icon a i {
        padding: 0.6rem 0.8rem; }
    .subtitle .forsubscribe {
      font-size: 0.9rem;
      width: 70%; }
      .subtitle .forsubscribe span {
        transform: translate(0, -2px); }

  .services {
    padding: 2rem 0; }
    .services p {
      padding: 0.7rem 0;
      color: #ACA592;
      font-size: 1rem; }
    .services h1 {
      color: #FFAE2B;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight: 400; } }
    @media (max-width: 800px) and (max-width: 1100px) {
      .services h1 {
        font-size: 2.8rem; } }
    @media (max-width: 800px) and (max-width: 1000px) {
      .services h1 {
        font-size: 2.6rem; } }
    @media (max-width: 800px) and (max-width: 800px) {
      .services h1 {
        font-size: 2.4rem; } }
    @media (max-width: 800px) and (max-width: 800px) {
      .services h1 {
        font-size: 2rem; } }
@media (max-width: 800px) {
    .services .servicecards {
      grid-template-columns: repeat(2, 1fr); }
      .services .servicecards .uch {
        display: none; }

  .follow {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; } }
@media (max-width: 650px) {
  header {
    position: sticky;
    top: 0;
    z-index: 5; }
    header .navbar {
      gap: 2%; }
      header .navbar a {
        font-size: 1.1rem; }
      header .navbar .nav {
        gap: 4%;
        align-items: center;
        justify-content: flex-end; }
        header .navbar .nav .nav_menu {
          position: fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 80px;
          bottom: 0;
          right: -100vw;
          transition: all .4s ease-in-out;
          width: 100%;
          background-color: #181511;
          height: calc(100vh - 80px); }
          header .navbar .nav .nav_menu ul {
            align-items: center;
            flex-direction: column;
            row-gap: 2rem;
            font-size: 2rem; }
            header .navbar .nav .nav_menu ul a {
              font-size: 0.6rem; }
            header .navbar .nav .nav_menu ul .active a {
              color: #FFAE2B; }
        header .navbar .nav #check:checked ~ .nav_menu {
          right: 0; }
        header .navbar .nav .nav_btn {
          display: none; }
          header .navbar .nav .nav_btn a {
            padding: 8px 15px;
            font-weight: 400;
            font-size: 0.6rem; }

  .showcase .showcase-title {
    width: 80%;
    row-gap: 2rem; }
    .showcase .showcase-title p {
      font-size: 0.7rem; }
    .showcase .showcase-title h1 {
      font-size: 2.7rem;
      line-height: 3.3rem; }
    .showcase .showcase-title .nav_btn a {
      padding: 8px 15px;
      font-size: 0.6rem; }

  .middle {
    padding: 4rem 0; }
    .middle .middle-title {
      padding: 2rem 0; }
      .middle .middle-title p {
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 22px; }
      .middle .middle-title h1 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 100px; }
    .middle .midlle-cards {
      width: 100%;
      margin-bottom: 16px;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem; }
      .middle .midlle-cards .middle-child {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child .pages-card {
          padding: 0.5rem; }
          .middle .midlle-cards .middle-child .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child .pages-card p {
            font-weight: 400;
            font-size: 0.7rem;
            line-height: 22px; }
      .middle .midlle-cards .middle-child2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        display: grid;
        gap: 1rem; }
        .middle .midlle-cards .middle-child2 .pages-card {
          border: 1px solid #4B4136;
          padding: 0.5rem; }
          .middle .midlle-cards .middle-child2 .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child2 .pages-card p {
            font-weight: 400;
            font-size: 0.7rem;
            line-height: 22px;
            color: #ACA592;
            text-transform: uppercase;
            text-align: center; }
    .middle .middle-cards-1 {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 1rem; }
      .middle .middle-cards-1 .pages-card {
        padding: 0.8rem; }
        .middle .middle-cards-1 .pages-card img {
          width: 100%; }
        .middle .middle-cards-1 .pages-card p {
          font-weight: 400;
          font-size: 0.7rem;
          line-height: 22px; }

  .pyton {
    width: 100%;
    height: 30vh;
    margin-bottom: 4rem; }

  .subtitle {
    padding: 2.2rem; }
    .subtitle h1 {
      font-weight: 400;
      font-size: 2rem;
      line-height: 40px; }
    .subtitle p {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 22px;
      padding-bottom: 3.2rem; }
    .subtitle .qora {
      width: 50%;
      padding: 1.2rem; }
    .subtitle .sariq {
      width: 50%;
      padding: 1.2rem;
      margin-bottom: 2rem; }
    .subtitle .icon {
      gap: 0.6rem; }
      .subtitle .icon a i {
        padding: 0.4rem 0.6rem; }
    .subtitle .forsubscribe {
      font-size: 0.8rem;
      width: 80%; }
      .subtitle .forsubscribe span {
        position: absolute;
        transform: translate(0, -2px); }

  .footer {
    padding: 2rem 0;
    border-top: 1px solid #4B4136; }
    .footer .footer-left p {
      font-size: 0.8rem; }
    .footer .footer-right {
      gap: 1rem; }
      .footer .footer-right p {
        font-size: 0.8rem; } }
@media (max-width: 550px) {
  .services {
    padding: 1.8rem 0; }
    .services p {
      padding: 0.7rem 0;
      font-size: 1rem; }
    .services h1 {
      color: #FFAE2B;
      padding-bottom: 2rem;
      font-size: 3rem;
      font-weight: 400; } }
    @media (max-width: 550px) and (max-width: 1100px) {
      .services h1 {
        font-size: 2.8rem; } }
    @media (max-width: 550px) and (max-width: 1000px) {
      .services h1 {
        font-size: 2.6rem; } }
    @media (max-width: 550px) and (max-width: 800px) {
      .services h1 {
        font-size: 2.4rem; } }
    @media (max-width: 550px) and (max-width: 800px) {
      .services h1 {
        font-size: 2rem; } }
@media (max-width: 550px) {
    .services .servicecards {
      grid-template-columns: 1fr; }
      .services .servicecards .uch {
        display: block; } }
@media (max-width: 530px) {
  header {
    height: 80px; }
    header .navbar {
      gap: 2%; }
      header .navbar a {
        font-size: 1.1rem; }
      header .navbar .nav {
        gap: 4%; }
        header .navbar .nav .nav_menu ul {
          gap: 7%; }
          header .navbar .nav .nav_menu ul a {
            font-size: 0.6rem; }
        header .navbar .nav .nav_btn a {
          padding: 8px 15px;
          font-weight: 400;
          font-size: 0.6rem; }

  .showcase .showcase-title {
    width: 80%;
    row-gap: 2rem; }
    .showcase .showcase-title p {
      font-size: 0.6rem; }
    .showcase .showcase-title h1 {
      font-size: 2.2rem; }
    .showcase .showcase-title .nav_btn a {
      padding: 8px 13px;
      font-weight: 400;
      font-size: 0.5rem; }

  .middle {
    padding: 3rem 0; }
    .middle .middle-title {
      padding: 2rem 0;
      text-align: center; }
      .middle .middle-title p {
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 22px; }
      .middle .middle-title h1 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 100px; }
    .middle .midlle-cards {
      width: 100%;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem; }
      .middle .midlle-cards .middle-child {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child .pages-card {
          border: 1px solid #4B4136;
          padding: 0.5rem; }
          .middle .midlle-cards .middle-child .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child .pages-card p {
            font-weight: 400;
            font-size: 0.7rem;
            line-height: 22px; }
      .middle .midlle-cards .middle-child2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; }
        .middle .midlle-cards .middle-child2 .pages-card {
          padding: 0.5rem; }
          .middle .midlle-cards .middle-child2 .pages-card img {
            width: 100%; }
          .middle .midlle-cards .middle-child2 .pages-card p {
            font-weight: 400;
            font-size: 0.7rem;
            line-height: 22px; }
    .middle .middle-cards-1 {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem; }
      .middle .middle-cards-1 .pages-card {
        padding: 0.8rem; }
        .middle .middle-cards-1 .pages-card img {
          width: 100%; }
        .middle .middle-cards-1 .pages-card p {
          font-weight: 400;
          font-size: 0.7rem;
          line-height: 22px; }
      .middle .middle-cards-1 .align-center {
        display: block; }

  .pyton {
    width: 100%;
    height: 20vh;
    margin-bottom: 3rem; }

  .subtitle {
    padding: 2rem; }
    .subtitle h1 {
      font-weight: 400;
      font-size: 2rem;
      line-height: 40px; }
    .subtitle p {
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 22px;
      padding-bottom: 2.5rem; }
    .subtitle .qora {
      width: 60%;
      padding: 1rem;
      border: 1px solid #4B4136; }
    .subtitle .sariq {
      width: 60%;
      padding: 1.2rem;
      margin-bottom: 1.6rem; }
    .subtitle .icon {
      gap: 0.4rem; }
      .subtitle .icon a i {
        padding: 0.4rem 0.6rem; }
    .subtitle .forsubscribe {
      font-size: 0.7rem;
      width: 100%; }
      .subtitle .forsubscribe span {
        transform: translate(0, -2px); }

  .footer {
    padding: 1.2rem 0; }
    .footer .footer-left p {
      font-size: 0.7rem; }
    .footer .footer-right {
      gap: 0.6rem; }
      .footer .footer-right p {
        font-size: 0.7rem; } }
@media (max-width: 450px) {
  .follow {
    grid-template-columns: 1fr; }
    .follow .f3 {
      display: block; }

  .subtitle h1 {
    font-size: 1.8rem; }
  .subtitle .forsubscribe {
    width: 100%; } }
@media (max-width: 350px) {
  .showcase {
    width: 100%; }
    .showcase .showcase-title {
      width: 80%;
      row-gap: 2.5rem; }
      .showcase .showcase-title p {
        font-weight: 400;
        font-size: 0.6rem; }
      .showcase .showcase-title h1 {
        font-weight: 400;
        font-size: 2rem;
        line-height: 60px; }
      .showcase .showcase-title .nav_btn a {
        padding: 8px 13px;
        font-weight: 400;
        font-size: 0.5rem; }

  .subtitle {
    padding: 1.8rem; }
    .subtitle h1 {
      font-weight: 400;
      font-size: 2rem;
      line-height: 40px; }
    .subtitle p {
      font-weight: 400;
      font-size: 0.7rem;
      line-height: 22px;
      padding-bottom: 2.5rem; }
    .subtitle .qora {
      width: 60%;
      padding: 1rem; }
    .subtitle .sariq {
      width: 60%;
      padding: 1.2rem;
      margin-bottom: 1.6rem; }
    .subtitle .icon {
      gap: 0.5rem; }
      .subtitle .icon a i {
        padding: 0.4rem 0.6rem; }
    .subtitle .forsubscribe {
      font-size: 0.7rem; }
      .subtitle .forsubscribe span {
        transform: translate(0, -2px); }

  .footer {
    padding: 1rem 0; }
    .footer .footer-left p {
      font-size: 0.6rem; }
    .footer .footer-right {
      gap: 0.4rem; }
      .footer .footer-right p {
        font-size: 0.6rem; } }

/*# sourceMappingURL=style.css.map */
